<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Geddy App | This app uses Geddy.js</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width" />

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <%- scriptLink('http://html5shim.googlecode.com/svn/trunk/html5.js', {type:'text/javascript'}) %>
    <![endif]-->

    <%- scriptLink('/js/jquery.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/bootstrap.min.js', {type:'text/javascript'}) %>
    <%- scriptLink('/js/core/core.js', {type: 'text/javascript'}) %>
    <!-- <%- scriptLink('/js/models/your_model.js', {type:'text/javascript'}) %> -->
    <%- scriptLink('/js/config/init.js', {type: 'text/javascript'}) %>

    <%- styleLink('/css/bootstrap.min.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/style.css', {rel:'stylesheet'}) %>
    <%- styleLink('/css/bootstrap.responsive.min.css', {rel:'stylesheet'}) %>

    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="i-bar"><i class="icon-chevron-down icon-white"></i></span>
          </a>
          <%- linkTo('Geddy App', mainsPath, {class: 'brand'}) %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><%- linkTo('Home', mainsPath) %></li>
              <li><%- linkTo('Tutorial', 'http://geddyjs.org/tutorial') %></li>
              <li><%- linkTo('Docs', 'http://geddyjs.org/documentation') %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      <!-- Displays flash messages -->
      <div id="flash-container">
        <%
        var flashes = flash.messages;
        for(var type in flashes) {
          if(flash.messages.hasOwnProperty(type)) {
        %>
            <div class="<%= flashes[type].displayClass %>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <% if(flashes[type].isInline) { %>
                <strong><%= flashes[type].heading %>:</strong>&nbsp;
              <% } else { %>
                <h4><%= flashes[type].heading %></h4>
              <% } %>
              <%= flashes[type].description %>
            </div>
        <%
          }
        }
        %>
      </div>
      <%- yield(); %>
    </div>
    <script type="text/javascript">
      /* Initializes the dismiss buttons on the flash messages */
      $("#flash-container .alert").alert();
    </script>
  </body>
</html>
