!!! html
html(lang="en")
  head
    meta(charset="utf-8")
    title Geddy App | This app uses Geddy.js
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width")

    // The HTML5 shim, for IE6-8 support of HTML elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    != scriptLink('/js/jquery.min.js', {type:'text/javascript'})
    != scriptLink('/js/bootstrap.min.js', {type:'text/javascript'})
    != scriptLink('/js/core/core.js', {type: 'text/javascript'})
    //- != scriptLink('/js/models/your_model.js', {type:'text/javascript'})
    != scriptLink('/js/config/init.js', {type: 'text/javascript'})

    != styleLink('/css/bootstrap.min.css', {rel:'stylesheet'})
    != styleLink('/css/style.css', {rel:'stylesheet'})
    != styleLink('/css/bootstrap.responsive.min.css', {rel:'stylesheet'})

    // The fav and touch icons
    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-114x114.png")

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.i-bar
              i.icon-chevron-down.icon-white
          != linkTo('Geddy App', mainsPath, { class: 'brand' })
          .nav-collapse
            ul.nav
              li.active
                != linkTo('Home', mainsPath)
              li
                != linkTo('Tutorial', 'http://geddyjs.org/tutorial')
              li
                != linkTo('Docs', 'http://geddyjs.org/documentation')

    .container
      #flash-container
        // Displays flash messages
        each msg in flash.messages
          div(class="#{ msg.displayClass }")
            button(type="button",class="close",data-dismiss="alert") &times;
            - if(msg.isInline)
              strong #{msg.heading}
              | &nbsp;
            - else
              h4 #{msg.heading}
            | #{msg.description}
      != yield()
  script
    /* Initializes the dismiss buttons on the flash messages */
    $("#flash-container .alert").alert();
